@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sl-color-bg: #222633;
    --card-bg: #2D374F;
    --sl-color-text-accent: #77AFEF;
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px)
}

[data-has-hero] body {
    background: linear-gradient(180deg, #2D374F 0%, #222633 100%);
}

@media (min-width: 50rem) {
    .hero {
        grid-template-columns: 1fr 1fr !important;
        gap: 1rem !important;
    }
}

.hero img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}

@media (max-width: 50rem) {
    .hero img {
        max-width: 300px;
    }
}

.card {
    --sl-color-black: var(--card-bg);
    --sl-color-gray-5: transparent;
    @apply rounded-xl border shadow-lg;
}

.card .icon {
    border: none !important;
    background-color: #5866F5 !important;
    --sl-icon-color: white;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6)::before {
    content: '#';
    margin-right: 0.5rem;
    color: var(--sl-color-text-accent);
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6)::after {
    content: '';
    display: block;
    margin-top: 0.5rem;
    border-bottom: 1px solid #2D374F;
}